<div class="mt-8">
    <form method="POST" action="">
        <div class="form-group">
            <label for="exampleInputEmail1">Tìm kiếm</label>
            <input type="text" class="form-control" name="q" placeholder="Nhập từ khóa cần tìm">
        </div>
        
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>